extends layout

block content
    h1.gallery
        = gallery
        |  - 
        = title
    a(href="#{prefixPath}").back
        &larr;
    ul.images
        - var index = 0;
        each file in files
            li
                a(href="#{prefixPath}images/galleries#{file.link}")
                    img(loading=index++<5?"eager":"lazy" min-height="200" src="#{prefixPath}images-thumbnail/galleries#{file.link}")
                    span.label
                        = file.name
