extends layout

block content
    h1.gallery
        = gallery
        |  - 
        = title
    a(href="#{prefixPath}").back
        &larr;
    ul.images
        each file in files
            li
                a(href="#{prefixPath}images/galleries#{file.link}")
                    img(src="#{prefixPath}images-thumbnail/galleries#{file.link}")
                    span.label
                        = file.name
