extends layout

block content
    h1= title
    ul.galleries
        each dir, dirName in tree.dirs
            if dir.files.length > 0
                li
                    a(href="#{prefixPath}gallery/#{dirName}")
                        img(src="#{prefixPath}images-thumbnail/galleries/#{dir.files[0].link}")
                        span.label
                            = dirName
